#wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group{
  text-align: center;
  margin-top: 40px;
}

.button{
  border: 1px solid #eee;

  display: block;
  padding: 10px;
  background-color: #fff;
  margin: 0 auto 5px;
  outline: none !important;
  border-radius: 6px;
}

.button-clear{
  width: 300px;
}

.des{
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}
body {
  background-color: #f7f9fc;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  transition-duration: 0.3s;
  background-color: #fff;
  width: 140px;
}

.button:hover {
  background-color: #eeeeee;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin: 0 auto;
}

.language-selector {
  /* Reset default styles */
  appearance: none;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.language-selector:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.language-selector::-ms-expand {
  display: none; /* Hide default arrow for IE10+ */
}

.language-selector .select-icon {
  /* Custom arrow icon */
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  transform: rotate(90deg); /* Rotate arrow */
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
}

.language-selector:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-color: #fff; /* Arrow background */
  border: 1px solid #ccc;
  border-radius: 50%;
  transform: rotate(90deg); /* Rotate arrow */
}

/* Optional: Add hover styles for more interactivity */
.language-selector:hover {
  border-color: #666;
}

.language-selector:hover .select-icon,
.language-selector:hover:after {
  border-color: #666;
}

